<div id="signUpDiv">
    {{> User/userSignup }}
</div>

<div id="homeScreenDiv">
    {{> User/userHome}}
</div>

<script type="text/javascript" src="../../public/userSignup.js"></script>
<script type="text/javascript" src="../../public/userHome.js"></script>