<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="./../../public/jsfiles/services/vehiclesAjaxOperation/index.js"></script>

<body>
    <h1>Automobile Dashboard</h1>
    <div><button id="showValue">Chassis Info</button></div>
    <div id="brandName" class="hidden">
        {{> vehicles/brandName }}
    </div>
</body>

</html>