<link rel="stylesheet" type="text/css" href="./../../public/css/custom.css">
<div id="toastr">
    <h1 id="here" class="">ToastrDetails</h1>
</div>
<div>
    <div id="toastrDetails" class="">
        {{> toastr/toastrImplementation }}
    </div>
</div>