<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="./../../../public/jsfiles/student/studentList.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
</head>

<body>
    <table id="tableData"></table>
    <form id="formData">
        <label for="fname">First Name</label>
        <input type="text" name="fname" value="abcd">
        <label for="lname">Last Name</label>
        <input type="text" name="lname" value="efgh">
        <input type="submit" value="Done" id="finalSubmit">
    </form>
</body>

</html>