<form method="post" id="signUpFormData">
    <input type="text" placeholder="name" name="name" value="name"></br>
    <input type="text" placeholder="age" name="age" value="77"></br>
    <input type="password" placeholder="password" name="password" value="password"></br>
    <input type="email" placeholder="email" name="email" value="email@ww.com"></br>
    <input type="submit" value="Sign Up" id="signUp"></br>
</form>