<button id="clickOne">Click Here</button>

<button id="clickTwo">For AJAX Fetch</button>
<button id="clickThree">Local Api fetch</button>

<div id="localApi">

</div>



<div id="data">

</div>

<script type="text/javascript" src="/public/jsfiles/ajaxOne.js"></script>